<!DOCTYPE html>
<html>
<head>
    <title>Vue Do</title>
    <meta charset="utf-8">
    <script src="js/vue.js"></script>
</head>
<body>
<div id="app">
    <input @keydown.enter="addTodo">
    <ol>
        <li v-for="todo in todos">
            <label v-bind:class="{ complete: todo.complete }">
                <input type=checkbox v-model="todo.complete">
                {{ todo.text }}
            </label>
            <button @click="deleteTodo(todo)">Delete</button>
        </li>
    </ol>
</div>

<script>
const addTodo = function(ev) {
    app.todos.push({ text: ev.target.value, complete: false });
    ev.target.value = '';
};

const deleteTodo = function(todo) {
    // Possible FIXME: use key in order to identify items?
    // or bind delete method to individial todo component?
    // insert time on todos is currently good, can delete be improved?
    app.todos = app.todos.filter(item => item != todo);
};

const app = new Vue({
  el: '#app',
  data: {
    todos: [
      { text: 'Shake', complete: true },
      { text: 'Bake', complete: false },
    ]
  },
  methods: {
    addTodo: addTodo,  // TODO ES6 shorthand
    deleteTodo: deleteTodo,
  }
});
</script>

<style type="text/css">
body {
    font-size: 1.2em;
}
.complete {
    text-decoration: line-through;
}
</style>

</body>
</html>
